[submodule "frameworks/apex-trigger-actions-framework"]
	path = frameworks/apex-trigger-actions-framework
	url = https://github.com/mitchspano/apex-trigger-actions-framework.git
[submodule "frameworks/NebulaLogger"]
	path = frameworks/NebulaLogger
	url = https://github.com/jongpie/NebulaLogger.git
[submodule "frameworks/apex-domainbuilder"]
	path = frameworks/apex-domainbuilder
	url = https://github.com/rsoesemann/apex-domainbuilder.git
[submodule "frameworks/apex-httpmock"]
	path = frameworks/apex-httpmock
	url = https://github.com/rsoesemann/apex-httpmock.git
[submodule "frameworks/amoss"]
	path = frameworks/amoss
	url = https://github.com/bobalicious/amoss.git
[submodule "frameworks/soql-lib"]
	path = frameworks/soql-lib
	url = https://github.com/beyond-the-cloud-dev/soql-lib.git
